body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}

body{
    background-color: #0e6090;
   
}
.background {
    width: 100%;
    height: 100vh;
    filter: blur(20px);
    object-fit: cover;
    object-position: center;

}
.container {
    display: inline-block;
    
    width: 800px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate( -50%, -50% );
}
    .left-column {
        display: inline-block;
        float: left;
        width: 40%;
        padding: 40px;
        background-color: #282C91;
        background-image: url(Pav.\ kalnas.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;

        position: absolute;
        top: 30px;
        bottom: 30px;
    }
.title {

}

.footer {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 20px;
}
    .link {
        color: #fff;
    }
    .amp {
        
    }
.right-column {
display: inline-block;
float: right;
width: 60%;
padding: 60px;
background-color: #fff;
position: relative;
}
.close {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    color: #777;
    line-height: 56px;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
}
.form {
    display: inline-block;
    width: 100%;
}
    .form-row {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }
        .form-row:last-of-type {
            margin-bottom: 0;
        }
        label {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
            color: #777;
            text-transform: uppercase;
            font-size: 16px;
        }
        input {
            display: inline-block;
            width: 100%;
            font-size: 20px;
            border: none;
            border-bottom: 1px solid #999;
        }
        .btn {
            display: inline-block;
            background-color: #282C91;
            color: #fff;
            padding: 10px;
            padding-left: 50px;
            padding-right: 50px;
            line-height: 20px;
            border-radius: 20px;
            cursor: pointer;
        }
        .or {
            display: inline-block;
            line-height: 20px;
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .blue-link {
            display: inline-block;
            line-height: 20px;
            padding-top: 10px;
            text-decoration: none;
        }